
# OSX hidden files
.DS_Store
package-lock.json
/node_modules
# dependencies
/node_modules
/.pnp
.pnp.js
.env
# testing
/coverage
/public
# production
build/ 
dist/
migrations/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


server/.env
server/.gitignore
server/README.md
server/build/